<h1>Lego Sets (<%= @legosets.length %>)</h1>
<%= link_to "New Lego Sets", "/legosets/new" %>

<% @legosets.each do |legoset| %>
	<p><%= legoset.name %>, <%= legoset.product_type %></p>
	<%= link_to image_tag(legoset.url), "/legosets/#{legoset.id}" %>
<% end %>