<%= link_to "Back to Lego Sets", legosets_url %> | <%= link_to "Edit", edit_legoset_path(@legoset) %> | <%= link_to "Delete", @legoset, method: :delete, data: {confirm: "Are you sure you want to delete this Lego set?"} %>

<p><%= @legoset.name %>, <%= @legoset.product_type %></p>
<%= image_tag @legoset.url %>